<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head.ejs') %>
    
    <script src="/admin/js/manageRegister.js"></script>
    <!-- ssi-uploader file uploader library -->
    <link href="/lib/ssiuploader/ssi-uploader.min.css" rel="stylesheet" type="text/css" />
    <script src="/lib/ssiuploader/ssi-uploader.min.js"></script>
    <!-- smart editor -->
    <script src="/lib/smarteditor2/js/service/HuskyEZCreator.js" ></script>
</head>
<body>
    <div class="wrap">
        <nav class="nav">
            <div class="logo">
                <a href="javascript:;" class="logo__link">
                    <h1>Eyecargo Reefer</h1>
                </a>
            </div>
            <div class="nav__content">
                <div class="nav__content--user">
                    <i class="fas fa-user-cog"></i>
                    <span>User</span>
                </div>
                <ul class="nav__content--list">
                    <li class="nav__content--item">
                        <a href="/manage" class="active">
                            <i class="fab fa-flipboard"></i>
                            <span>카테고리 관리</span>
                        </a>
                    </li>
                    <li class="nav__content--item">
                        <a href="/memberEdit">
                            <i class="fas fa-unlock-alt"></i>
                            <span>회원정보 수정</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <header>
            <div class="toolbar">
                <div class="toolbar__menu">
                    <a href="javascript:;">
                        <i class="fas fa-angle-double-left"></i>
                        <!-- menu -->
                        <!-- <i class="fas fa-bars"></i> -->
                    </a>
                </div>
                <div class="toolbar__logout">
                    <a href="javascript:;">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
        </header>
        
        <main>
            <div class="content">
                <div class="register">
                    <div class="register__option">
                        <div class="register__btn">
                            <a href="./manage.html" class="btn btn-cancel">취소</a>
                            <a href="./manage.html" class="btn btn-confirm">확인</a>
                        </div>
                    </div>
                    <form action="registerForm" method="post"><!-- 파일 넘길때 속성 필요 -->
                        <div class="register__action">
                            <div class="card register__act01">
                                <h2>카테고리 선택</h2>
                                <label class="register__act01--label">
                                    <input type="radio" name="category">
                                    <span>카테고리1</span>
                                </label>
                                <label class="register__act01--label">
                                    <input type="radio" name="category">
                                    <span>카테고리2</span>
                                </label>
                                <label class="register__act01--label">
                                    <input type="radio" name="category">
                                    <span>카테고리3</span>
                                </label>
                                <label class="register__act01--label">
                                    <input type="radio" name="category">
                                    <span>카테고리4</span>
                                </label>
                            </div>

                            <!--  파일 업로더 -->
                            <div class="card register__act02">
                                <div class="form__groups">
                                    <label for="registerTitle"><span class="color__important">* </span>제목</label>
                                    <input id="registerTitle" type="text">
                                </div>

                                <div class="form__groups">
                                    <p><span class="color__important">* </span>썸네일 이미지</p>
                                    <input type="file" multiple id="ssi-upload"/>
                                </div>
                                
                                <!-- 스마트 에디터 2 -->
                                <div class="form__groups">
                                    <p>세부내용</p>
                                    <textarea name="ir1" id="ir1" rows="10" cols="100"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>