<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./head.ejs') %>
    <script src="/user/js/user.js"></script>
</head>
<body>
    <nav class="navi">
        <a href="javascript:;" class="logo">logo</a>
        <ul id="mainCategory"></ul>
    </nav>
    <section class="wrap">
        프로필
    </section>
</body>
</html>