<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./head.ejs') %>
    <script src="/user/js/user.js"></script>
</head>
<body>
    <%-include('./nav.ejs') %>
    <section id="wrap" class="wrap"></section>
</body>
</html>