<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Mobile -->
    <!-- CSS -->
    <link href="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/adm/css/main.css" rel="stylesheet" type="text/css" />
    <link href="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/lib/jqueryUi/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- JS -->
    <!-- jQuery 3.6.0 -->
    <script src="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/lib/jquery/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI(sortDrag) -->
    <script src="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/lib/jqueryUi/jquery-ui.min.js"></script>
    <!-- common -->
    <script src="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/adm/js/common/common.js"></script>    

    <title>Admin Template</title>
</head>
<body>
    <!-- login -->
    <section class="password">
        <div class="password-wrap">
            <div class="password-title">
                <h1>사이트 관리자 로그인</h1>
                <p>사이트 관리를 위한 로그인이 필요합니다.</p>
            </div>
            <form id="passwordForm" action="" method="post">
                <div class="form-box">
                    <input type="text" value="admin" readonly>
                    <input type="password" placeholder="새 패스워드">
                    <input type="password" placeholder="새 패스워드 입력">
                </div>
                <p class="password-help">새 비밀번호는 숫자 1~9까지 입력가능합니다.</p>
                <button type="submit" class="btn btn-primary btn-block">정보수정</button>
            </form>
        </div>
    </section>
    
</body>
</html>