<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Mobile -->
    
    <!-- CSS -->
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../lib/jqueryUi/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <!-- JS -->
    <!-- jQuery 3.6.0 -->
    <script src="../../lib/jquery/jquery-3.6.0.min.js"></script>

    <!-- jQuery UI(sortDrag) -->
    <script src="../../lib/jqueryUi/jquery-ui.min.js"></script>

    <!-- common -->
    <script src="../js/common/common.js"></script>

    <title>title</title>
</head>
<body>
    <div class="wrap">
        <nav class="nav">
            <div class="logo">
                <a href="javascript:;" class="logo__link">
                    <h1>Eyecargo Reefer</h1>
                </a>
            </div>
            <div class="nav__content">
                <div class="nav__content--user">
                    <i class="fas fa-user-cog"></i>
                    <span>User</span>
                </div>
                <ul class="nav__content--list">
                    <li class="nav__content--item">
                        <a href="javascript:;" class="active">
                            <i class="fas fa-user-cog"></i>
                            <span>상세</span>
                        </a>
                    </li>
                    <li class="nav__content--item">
                        <a href="javascript:;">
                            <i class="fas fa-user-cog"></i>
                            <span>상세</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <header>

        </header>

        <main>


        </main>
    </div>
</body>
</html>