<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Mobile -->
    <!-- CSS -->
    <link href="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/adm/css/main.css" rel="stylesheet" type="text/css" />
    <link href="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/lib/jqueryUi/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- JS -->
    <!-- jQuery 3.6.0 -->
    <script src="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/lib/jquery/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI(sortDrag) -->
    <script src="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/lib/jqueryUi/jquery-ui.min.js"></script>
    <!-- common -->
    <script src="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/adm/js/common/common.js"></script>    

    <title>Admin Template</title>
</head>
<body>
    <!-- login -->
    <form action="" method="post">
        <section class="login">
            
        </section>
    </form>
</body>
</html>