li<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Mobile -->
    
    <!-- CSS -->
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../lib/jqueryUi/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <!-- JS -->
    <!-- jQuery 3.6.0 -->
    <script src="../../lib/jquery/jquery-3.6.0.min.js"></script>

    <!-- jQuery UI(sortDrag) -->
    <script src="../../lib/jqueryUi/jquery-ui.min.js"></script>

    <!-- common -->
    <script src="../js/common/common.js"></script>

    <title>ADD</title>
</head>
<body>
    <div class="wrap">
        <nav class="nav">
            <div class="logo">
                <a href="javascript:;" class="logo__link">
                    <h1>Eyecargo Reefer</h1>
                </a>
            </div>
            <div class="nav__content">
                <div class="nav__content--user">
                    <i class="fas fa-user-cog"></i>
                    <span>User</span>
                </div>
                <ul class="nav__content--list">
                    <li class="nav__content--item">
                        <a href="./memberEdit.html">
                            <i class="fas fa-unlock-alt"></i>
                            <span>회원정보 수정</span>
                        </a>
                    </li>
                    <li class="nav__content--item">
                        <a href="./manage.html" class="active">
                            <i class="fab fa-flipboard"></i>
                            <span>카테고리 관리</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <header>
            <div class="toolbar">
                <div class="toolbar__menu">
                    <a href="javascript:;">
                        <i class="fas fa-angle-double-left"></i>
                        <!-- menu -->
                        <!-- <i class="fas fa-bars"></i> -->
                    </a>
                </div>
                <div class="toolbar__logout">
                    <a href="javascript:;">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
        </header>
        
        <main>
            <div class="content">
                <div class="register">
                    <div class="register__option">
                        <div class="register__btn">
                            <a href="./manage.html" class="btn btn-cancel">취소</a>
                            <a href="./manage.html" class="btn btn-confirm">확인</a>
                        </div>
                    </div>
                    <form action="registerForm" method="post"><!-- 파일 넘길때 속성 필요 -->
                        <div class="register__action">
                            <div class="card register__act01">
                                <h2>카테고리 선택</h2>
                                <label class="register__act01--label">
                                    <input type="radio" name="category">
                                    <span>카테고리1</span>
                                </label>
                                <label class="register__act01--label">
                                    <input type="radio" name="category">
                                    <span>카테고리2</span>
                                </label>
                                <label class="register__act01--label">
                                    <input type="radio" name="category">
                                    <span>카테고리3</span>
                                </label>
                                <label class="register__act01--label">
                                    <input type="radio" name="category">
                                    <span>카테고리4</span>
                                </label>
                            </div>
                            <!-- https://fineuploader.com/demos.html -->
                            <div class="card register__act02">
                                <h2>썸네일 이미지</h2>
                                <div class="form__groups">
                                    썸네일 파일업로드
                                </div>

                                <!-- 선택해서 올리게 (라디오 박스) -->
                                <!-- 또는 edit 라이브러리로 끝낼 수 있는지 확인 필요 || *** 우선 팝업 먼저 -->
                                <h2>팝업 이미지</h2>
                                <div class="">
                                    <input id="" type="radio" name="detailContent" value="팝업 이미지">
                                    <input id="" type="radio" name="detailContent">
                                </div>                                
                                
                                
                                <h2>상세입력</h2>
                                <div class="form__groups">
                                    <label for="registerTitle">제목</label>
                                    <input id="registerTitle" type="text">
                                </div>
                                <!-- edit 라이브러리 -->
                                <!-- http://ckeditor.com/ -->
                                <div class="form__groups">
                                    <label for="registerText">설명</label>
                                </div>
                                
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </main>
    </div>
</body>
</html>