<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Mobile -->
    
    <!-- CSS -->
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../lib/jqueryUi/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <!-- JS -->
    <!-- jQuery 3.6.0 -->
    <script src="../../lib/jquery/jquery-3.6.0.min.js"></script>

    <!-- jQuery UI(sortDrag) -->
    <script src="../../lib/jqueryUi/jquery-ui.min.js"></script>

    <!-- common -->
    <script src="../js/common/common.js"></script>

    <title>title</title>
</head>
<body>
    <div class="wrap">
        <nav class="nav">
            <div class="logo">
                <a href="javascript:;" class="logo__link">
                    <h1>Eyecargo Reefer</h1>
                </a>
            </div>
            <div class="nav__content">
                <div class="nav__content--user">
                    <i class="fas fa-user-cog"></i>
                    <span>User</span>
                </div>
                <ul class="nav__content--list">
                    <li class="nav__content--item">
                        <a href="javascript:;">
                            <i class="fas fa-unlock-alt"></i>
                            <span>회원정보 수정</span>
                        </a>
                    </li>
                    <li class="nav__content--item">
                        <a href="javascript:;" class="active">
                            <i class="fab fa-flipboard"></i>
                            <span>카테고리 관리</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <header>
            <div class="toolbar">
                <div class="toolbar__menu">
                    <a href="javascript:;">
                        <i class="fas fa-angle-double-left"></i>
                        <!-- menu -->
                        <!-- <i class="fas fa-bars"></i> -->
                    </a>
                </div>
                <div class="toolbar__logout">
                    <a href="javascript:;">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
        </header>

        <main>
            <div class="content">
                <div class="mng">
                    <div class="mng__setting">
                        <div class="card">
                            <div class="mng__title">
                                <span>Category Manager</span>
                                <a href="javascript:#;" class="mng__title--btn">
                                    <span>
                                        <i class="fas fa-cog"></i>
                                    </span>
                                </a>
                            </div>

                            <!-- category(project) -->
                            <div class="mng-category">
                                <div class="mng-category__all"><!-- all -->
                                    <a href="javascript:;">Project</a>
                                </div>
                                <ul class="mng-category__list">
                                    <li>
                                        <a href="javascript:;" class="active">Category1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Category2</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- category(artwork) -->
                            <div class="mng-category">
                                <div class="mng-category__all"><!-- all -->
                                    <a href="javascript:;">Artwork</a>
                                </div>
                                <ul class="mng-category__list">
                                    <li>
                                        <a href="javascript:;">Category1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Category2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- right -->
                    <div class="mng__data">
                        <!-- top option -->
                        <div class="mng__option">
                            <form action="" method="get">
                                <fieldset>
                                    <legend class="visually-hidden">검색</legend>
                                    <div class="mng__search">
                                        <input type="text" placeholder="Search" class="mng-search--input">
                                        <button type="submit" class="btn btn-simple">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                            <div class="mng__btn">
                                <button type="button" class="btn btn-simple">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-simple">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-simple">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>

                        <!-- bottom table -->
                        <div class="mng__empty display-none">등록된 프로젝트가 없습니다.</div>
                        <div class="mng__table">
                            <div class="card">
                                <table>
                                    <caption></caption>
                                    <colgroup> 
                                        <col style="width:5%"> 
                                        <col style="width:8%"> 
                                        <col style="width:10%">
                                        <col style="width:22%">
                                        <col style="width:20%">
                                        <col style="width:20%">
                                        <col style="width:15%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col"><input type="checkbox"></th>
                                            <th scope="col">No</th>
                                            <th scope="col">Thumbnail</th>
                                            <th scope="col">Name</th>
                                            <!-- START : 에디트 구현 여부에 따라 변경 예정  -->
                                            <th scope="col">[Pop up] Image/Video File</th>
                                            <th scope="col">Category Name</th>
                                            <!-- END : 에디트 구현 여부에 따라 변경 예정  -->
                                            <th scope="col">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="mng__table--center"><input type="checkbox"></td>
                                            <td class="mng__table--center">1</td>
                                            <td class="mng__table--center"><a href="javascript:;"><img src="http://www.jeong9-9.com/img/thumbnail/card16_thumbnail.jpg" class="mng__table--thumb"></a></td>
                                            <td class="mng__table--center">LG OLED TV KV, OOH</td>
                                            <td class="mng__table--center">card16_thumbnail.jpg</td>
                                            <td class="mng__table--center">category1</td>
                                            <td class="mng__table--center">2022-01-05</td>
                                        </tr>
                                        <tr>
                                            <td class="mng__table--center"><input type="checkbox"></td>
                                            <td class="mng__table--center">2</td>
                                            <td class="mng__table--center"><a href="javascript:;"><img src="http://www.jeong9-9.com/img/thumbnail/card18_thumbnail.jpg" class="mng__table--thumb"></a></td>
                                            <td class="mng__table--center">LG.com PocketPhoto</td>
                                            <td class="mng__table--center">card18_thumbnail.jpg</td>
                                            <td class="mng__table--center">category1</td>
                                            <td class="mng__table--center">2022-01-05</td>
                                        </tr>
                                        <tr>
                                            <td class="mng__table--center"><input type="checkbox"></td>
                                            <td class="mng__table--center">3</td>
                                            <td class="mng__table--center"><a href="javascript:;"><img src="http://www.jeong9-9.com/img/thumbnail/card19_thumbnail.jpg" class="mng__table--thumb"></a></td>
                                            <td class="mng__table--center">LG.com XBOOM OK99</td>
                                            <td class="mng__table--center">card19_thumbnail.jpg</td>
                                            <td class="mng__table--center">category1</td>
                                            <td class="mng__table--center">2022-01-05</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- pagination -->
                            <div class="mng__pagination">
                                <ul class="pagination">
                                    <li class="prev disabled">
                                        <a href="javascript:;"><i class="fas fa-chevron-left"></i></a>
                                    </li>
                                    <li class="active"><a href="javascript:;">1</a></li>
                                    <li><a href="javascript:;">2</a></li>
                                    <li><a href="javascript:;">3</a></li>
                                    <li class="next disabled">
                                        <a href="javascript:;"><i class="fas fa-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Category Manager Pop Up -->
        <div class="modal">
            <div class="modal__dialog modal__dialog--centered">
                <div class="modal__content">
                    <div class="modal__header">
                        <h2 class="modal__title">New Category</h2>
                        <div class="modal__btn">
                            <button type="button" class="btn-cancel">Cancel</button>
                            <button type="submit" class="btn-confirm">Confirm</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</body>
</html>