<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Mobile -->
    
    <!-- CSS -->
    <link href="../css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../lib/jqueryUi/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <!-- JS -->
    <!-- jQuery 3.6.0 -->
    <script src="../../lib/jquery/jquery-3.6.0.min.js"></script>

    <!-- jQuery UI(sortDrag) -->
    <script src="../../lib/jqueryUi/jquery-ui.min.js"></script>

    <!-- common -->
    <script src="../js/common.js"></script>

    <!-- Validate -->
    <script src="../../lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="../../lib/jqueryValidate/additional-methods.min.js"></script>

    <!-- admin -->
    <script src="../js/memberEdit.js"></script>

    <title>title</title>
</head>
<body>
    <div class="wrap">
        <nav class="nav">
            <div class="logo">
                <a href="javascript:;" class="logo__link">
                    <h1>Eyecargo Reefer</h1>
                </a>
            </div>
            <div class="nav__content">
                <div class="nav__content--user">
                    <i class="fas fa-user-cog"></i>
                    <span>User</span>
                </div>
                <ul class="nav__content--list">
                    <li class="nav__content--item">
                        <a href="/manage">
                            <i class="fab fa-flipboard"></i>
                            <span>카테고리 관리</span>
                        </a>
                    </li>
                    <li class="nav__content--item">
                        <a href="/memberEdit" class="active">
                            <i class="fas fa-unlock-alt"></i>
                            <span>회원정보 수정</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <header>
            <div class="toolbar">
                <div class="toolbar__menu">
                    <a href="javascript:;">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="toolbar__logout">
                    <a href="javascript:;">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
        </header>

        <main>
            <div class="content">
                <div class="member-modify">
                    <div class="card member-modify--area">
                        <h1>회원정보 수정</h1>
                        <form id="modifyForm" action="/memberEdit_process" method="post">
                            <fieldset>
                                <legend class="visually-hidden">비밀번호 변경</legend>
                                <div class="form-box">
                                    <input type="text" value="admin" readonly>
                                    <input type="password" id="newPasswordInput" name="newPassword" maxlength="9" placeholder="새 비밀번호">
                                    <input type="password" id="newPasswordConfirmInput" name="newPasswordConfirm" placeholder="새 비밀번호 확인">
                                </div>
                                <p>
                                    <i class="fas fa-exclamation"></i>
                                    <span>새 비밀번호는 숫자 1~9까지 입력 가능 합니다.</span>
                                </p>
                                <button type="submit" class="btn btn-primary btn-block">비밀번호 변경</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>