<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Mobile -->
    <!-- CSS -->
    <link href="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/adm/css/main.css" rel="stylesheet" type="text/css" />
    <link href="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/lib/jqueryUi/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- JS -->
    <!-- jQuery 3.6.0 -->
    <script src="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/lib/jquery/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI(sortDrag) -->
    <script src="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/lib/jqueryUi/jquery-ui.min.js"></script>
    <!-- common -->
    <script src="file:///C:/Users/motok/Desktop/yangbankim/workspace/notefolio/adm/js/common/common.js"></script>    

    <title>Admin Template</title>
</head>
<body>
    <!-- login -->
    <section class="password">
        <div class="password-wrap">
            <div class="password-title">
                <h1>비밀번호 찾기</h1>
                <p>비밀번호를 찾기시 힌트 확인이 필요합니다.</p>
            </div>
            <div class="form-box">
                <input type="text" value="admin" readonly>
                <input type="text" placeholder="비밀번호 힌트(yang~)">
            </div>
            <button type="button" class="btn btn-primary btn-block">비밀번호 힌트 확인</button>
            
            <div class="password-txt">
                <div class="password-help">비밀번호 : <span class="password-check"></span></div>
                <a href="./login.html">뒤로가기</a>
            </div>
        </div>
    </section>
    
</body>
</html>