/* Navigation */
nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 256px;
    height: 100%;
    background-color: #333;
    .logo {
        .logo__link {
            display: flex;
            padding: 10px 20px;
            color: #fff;
            border-bottom: 1px solid #3d3d3d;
            text-decoration-line: none;
        }
    }
    .nav__content {
        font-size: 13px;
        color: $light-grey;
        .nav__content--user {
            display: flex;
            align-items: center;
            padding: 25px 20px;
            background-color: #2a2a2a;
            i {
                font-size: 20px;
                margin-right: 10px;
            }
        }
        .nav__content--list {
            overflow-y: auto;
            .nav__content--item {
                i {
                    margin-right: 10px;
                    font-size: 14px;
                }
                a {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    color: $light-grey;
                    text-decoration-line: none;
                    &:hover {
                        background: #1A6DFF;
                    }
                    &.active {
                        background: #1A6DFF;
                    }
                }
            }
        }
    }
}
/* Toolbar */
.toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 256px;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 49px;
    .toolbar__menu {
        padding: 0px 20px;
        a {
            display: flex;
            padding: 0 5px;
            text-decoration-line: none;
            color: $text-color;
            &:hover {
                color: $brand-color;
            }
        }
    }
    .toolbar__logout {
        margin-left: auto;
        padding: 0px 20px;
        a {
            display: flex;
            padding: 0 5px;
            text-decoration-line: none;
            color: $text-color;
            &:hover {
                color: $brand-color;
            }
        }
    }
}
/* contents */
main{
    padding: 49px 0 0 256px;
    font-size: 14px;
    .content {
        width: 100%;
        padding: 20px;
        .card {
            border-radius: 4px;
            box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
        /* password modify */
        .member-modify {
            width: 20%;
            min-width: 330px;
            .member-modify--area{
                padding: 20px;
                h1 {
                    margin-bottom: 10px;
                    font: {
                        size: 14px;
                        weight: bold;
                    }
                }
                .form-box{
                    margin-bottom: 15px;
                    input {
                        height: 40px;
                        margin-bottom: -1px;
                        border-color: #E0E0E0;
                        padding: 0 12px;
                        line-height: 40px;
                        border: 1px solid #ddd;
                        font-size: 14px;
                        width: 100%;
                        &:first-child{
                            background: #eee;
                        }
                        &::placeholder{
                            color: #888;
                        }
                    }
                }
                p {
                    margin-bottom: 10px;
                    font: {
                        size: 12px;
                        weight: bold;
                    }
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
        /* category list */
        .mng {
            display: flex;
            justify-content: space-between;
            /* left category add */
            .mng__setting {
                width: 20%;
                min-width: 300px;
                .mng__title {
                    display: flex;
                    padding: 20px;
                    border-bottom: 1px solid #eee;
                    .mng__title--btn {
                        margin-left: auto;
                        color: #333;
                        &:hover {
                            color: $brand-color;
                        }
                    }
                }
                /* category */
                .mng-category{
                    .mng-category__all{
                        a {
                            display: block;
                            padding: 7px 20px;
                            text-decoration-line: none;
                            color: #333;
                            font-weight: bold;
                            &.active {
                                background-color: $brand-color;
                                color: #fff;
                                &:hover{
                                    cursor: default;
                                    background-color: $brand-color;
                                }
                            }
                            &:hover {
                                background-color: #eee;
                            }
                        }
                    }
                    ul {
                        li {
                            a {
                                display: block;
                                padding: 7px 30px;
                                text-decoration-line: none;
                                color: #333;
                                &.active {
                                    background-color: $brand-color;
                                    color: #fff;
                                    &:hover{
                                        cursor: default;
                                        background-color: $brand-color;
                                    }
                                }
                                &:hover {
                                    background-color: #eee;
                                }
                            }
                            &:last-child{
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
            /* right option grid */
            .mng__data {
                width: 78%;
                /* option */
                .mng__option {
                    display: flex;
                    margin-bottom: 20px;
                    /* search */
                    .mng__search {
                        display: flex;
                        width: 300px;
                        background-color: #fff;
                        border-radius: 30px;
                        padding: 0 20px;
                        box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
                        .mng-search--input {
                            border: 0;
                        }
                        button {
                            margin-left: auto;
                        }
                    }
                    /* btn */
                    .mng__btn {
                        margin-left: auto;
                    }
                
                }
                /* table */
                .mng__table {
                    table {
                        width: 100%;
                        thead tr th {
                            padding: 10px 0;
                            font-weight: bold;
                            border-bottom: 1px solid #ddd;
                        }
                        tbody tr td {
                            vertical-align: middle;
                            padding: 10px 0;
                            color: #888;
                            font-size: 13px;
                            &.mng__table--center {
                                text-align: center;
                            }
                            a {
                                .mng__table--thumb {
                                    border: 1px solid #ddd;
                                    border-radius: 4px;
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                        }
                    }
                    /* pagination */
                    .mng__pagination {
                        width: 100%;
                        margin-top: 20px;
                        .pagination {
                            display: flex;
                            justify-content: center;
                            li {
                                &.active {
                                    a {
                                        background-color: #333;
                                        color: #fff;
                                    }
                                }
                                a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 24px;
                                    height: 24px;
                                    line-height: 25px;
                                    color: #212121;
                                    border-radius: 3px;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }    
        /* category add,mod */
        .register {
            .register__option{
                display: flex;
                width: 100%;
                margin-bottom: 15px;
            }
            .register__btn{
                margin-left: auto;
            }
        }
        
    }
}