/* Navigation */
nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 256px;
    height: 100%;
    background-color: #333;
    .logo {
        .logo__link {
            display: flex;
            padding: 10px 20px;
            color: #fff;
            border-bottom: 1px solid #3d3d3d;
            text-decoration-line: none;
        }
    }
    .nav__content {
        font-size: 13px;
        color: $light-grey;
        .nav__content--user {
            display: flex;
            align-items: center;
            padding: 25px 20px;
            background-color: #2a2a2a;
            i {
                font-size: 20px;
                margin-right: 10px;
            }
        }
        .nav__content--list {
            overflow-y: auto;
            .nav__content--item {
                i {
                    margin-right: 10px;
                    font-size: 14px;
                }
                a {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    color: $light-grey;
                    text-decoration-line: none;
                    &:hover {
                        background: #1A6DFF;
                    }
                    &.active {
                        background: #1A6DFF;
                    }
                }
            }
        }
    }
}
/* Toolbar */
.toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 256px;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 49px;
    .toolbar__menu {
        padding: 0px 20px;
        a {
            display: flex;
            padding: 0 5px;
            text-decoration-line: none;
            color: $text-color;
            &:hover {
                color: $brand-color;
            }
        }
    }
    .toolbar__logout {
        margin-left: auto;
        padding: 0px 20px;
        a {
            display: flex;
            padding: 0 5px;
            text-decoration-line: none;
            color: $text-color;
            &:hover {
                color: $brand-color;
            }
        }
    }
}
/* contents */
main{
    padding: 49px 0 0 256px;
    font-size: 14px;
    .content {
        padding: 20px;
    }
}